{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
<h3 class="text-white my-5">About Page</h3>

<p class="lead">Thinking of taking the plunge and getting your hands dirty with Python? Perhaps you’re already familiar with the language, but want to dig deeper to find out just how far this rabbit hole goes.

    Whether you’re a developer with some knowledge of programming or are just now dipping your toes in these waters, you’ve made the right choice. Python is an easy-to-grasp language that is, at the same time, versatile enough for you to do some interesting things with.
    
    To make things extra easy for you, here is the Python blogs—it’s as good a place to start as any!</p>
    
</div>

{% endblock content %}
